version: '3'

services:
  traefik:
    container_name: traefik
    # The official latest Traefik docker image
    image: traefik:v3
    # Enables the web UI and tells Traefik to listen to docker
    command: --api.insecure=true --providers.docker
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8081:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik:/traefik
    restart: always

  # testing services
  #whoami:
  #  # A container that exposes an API to show its IP address
  #  image: traefik/whoami
  #  restart: always
  #  labels:
  #   - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`)"

  # golinks for local go/xxx
  golinks:
    container_name: golinks
    build: ./golinks
    volumes:
      - ./data/golinks:/var/data
    restart: always
    labels:
     - "traefik.http.routers.golinks.rule=Host(`go`)"

  # copied from https://github.com/localstack/localstack/blob/master/docker-compose.yml
  #localstack:
  #  container_name: localstack
  #  image: localstack/localstack:latest
  #  network_mode: bridge
  #  ports:
  #    - "127.0.0.1:4510-4559:4510-4559"  # external service port range
  #    - "127.0.0.1:4566:4566"            # LocalStack Edge Proxy
  #  environment:
  #    - SERVICES=${SERVICES-}
  #    - DEBUG=${DEBUG-}
  #    - DATA_DIR=${DATA_DIR-}
  #    - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR-}
  #    - HOST_TMP_FOLDER=${TMPDIR:-/tmp/}localstack
  #    - DOCKER_HOST=unix:///var/run/docker.sock
  #  volumes:
  #    - "${TMPDIR:-/tmp}/localstack:/tmp/localstack"
  #    - "/var/run/docker.sock:/var/run/docker.sock"
  #  restart: always

  #valkey:
  #  container_name: valkey
  #  image: valkey/valkey:alpine
  #  ports:
  #    - "6379:6379"
  #  restart: always
  #  labels:
  #   - "traefik.http.routers.valkey.rule=Host(`valkey`)"

  redis:
    container_name: redis
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always
    labels:
     - "traefik.http.routers.redis.rule=Host(`redis`)"

  mysql:
    container_name: mysql
    image: mysql:8
    platform: linux/x86_64
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=1234
    restart: always
    volumes:
      - ./data/mysql:/var/lib/mysql
    labels:
     - "traefik.http.routers.mysql.rule=Host(`mysql`)"

  postgres:
    container_name: postgres
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=1234
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    labels:
     - "traefik.http.routers.postgres.rule=Host(`postgres`)"
