version: '3'

services:
  reverse-proxy:
    # The official v2 Traefik docker image
    image: traefik:v2.4
    # Enables the web UI and tells Traefik to listen to docker
    command:
        - --configFile=/traefik/static.yaml
    ports:
      # The HTTP port
      - "80:80"
      # The Web UI (enabled by --api.insecure=true)
      - "8081:8080"
    volumes:
      # So that Traefik can listen to the Docker events
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik:/traefik
    restart: always

  # testing services
  whoami:
    # A container that exposes an API to show its IP address
    image: traefik/whoami
    restart: always

  # golinks for local go/xxx
  golinks:
    build: ./golinks
    volumes:
      - ./data/golinks:/var/data
    restart: always

  # copied from https://github.com/localstack/localstack/blob/master/docker-compose.yml
  localstack:
    image: localstack/localstack:0.14.2
    network_mode: bridge
    ports:
      - "127.0.0.1:4510-4559:4510-4559"  # external service port range
      - "127.0.0.1:4566:4566"            # LocalStack Edge Proxy
    environment:
      - SERVICES=${SERVICES-}
      - DEBUG=${DEBUG-}
      - DATA_DIR=${DATA_DIR-}
      - LAMBDA_EXECUTOR=${LAMBDA_EXECUTOR-}
      - HOST_TMP_FOLDER=${TMPDIR:-/tmp/}localstack
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${TMPDIR:-/tmp}/localstack:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: always

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

  mysql5:
    image: mysql:5
    platform: linux/x86_64
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
    restart: always
    volumes:
      - ./data/mysql5:/var/lib/mysql

  mysql8:
    image: mysql:8
    platform: linux/x86_64
    ports:
      - "3308:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root_password
    restart: always
    volumes:
      - ./data/mysql8:/var/lib/mysql

  postgres:
    image: postgres:12-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=unittest_password
    restart: always
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
